* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
section {
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn {
	background-color: lightskyblue;
	border: none;
	padding: 10px;
	border-radius: 10px;
}
.homework {
	max-width: 1440px;
	width: 100%;
	padding: 0 15px;
	margin: 50px auto;
}
.random-img {
	width: 100%;
	margin: 20px 0;
}

.hidden {
	display: none;
}

.countries {
	max-width: 1440px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	margin-bottom: 100px;
}

.country {
	max-width: 300px;
}

.country img {
	width: 100%;
	margin-bottom: 20px;
}

.btns {
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	margin: 20px 0;
}

.see-more {
	background-color: lightgreen;
}
.remove-card {
	background-color: darkred;
}
table {
	width: 100%;
}

table,
td,
th {
	border: 1px solid black;
	border-collapse: collapse;
}
.slider {
	position: relative;
	margin-bottom: 50px;
	height: 400px;
}
.slides-wrapper {
	position: relative;
	display: flex;
	overflow: hidden;
}
.slide {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;

	/* top: -100%;
	left: 0;
	right: 0; */

	top: 0;
	left: -100%;
	height: 400px;
}
.slide.active-slide {
	left: 0;
	/* top: 0; */
	opacity: 1;
	visibility: visible;
	position: relative;
	width: 100%;
}

.slide img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.slide-desc {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	border-radius: 10px;
}
.slide-desc h3 {
	color: darkcyan;
}
.slide-desc p {
	margin-top: 10px;
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	font-size: 24px;
	color: darkcyan;
}
.arrow:hover {
	background-color: white;
}
.arrow.left {
	left: 20px;
}

.arrow.right {
	right: 20px;
}

@media (width<700px) {
	.slide-desc p {
		display: none;
		width: 100%;
	}
}
